*{
    margin:0;
    padding :0;
    box-sizing: border-box;
}
ul{
    list-style: none;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.container{
        max-width: 1300px;
        margin:auto;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
}
header{
    background-color: #fFF200;
    text-align: center;
    height: 44px;
}
nav{
    background-color: black;

}
nav ul {
    display: flex;
    justify-content:space-between;
}
nav ul li, a {
    color: white;
    font-size : 14px;

}
nav ul li:nth-child(2) a{
    color: #fFF200;
}
nav ul li:nth-child(2) i {
   color: #fFF200;
   font-size: 15px;
   margin-left: 6px;
}
nav ul li:nth-child(3){
    position: relative;
} 
nav ul li:nth-child(3) input{
    height: 30px;
    width: 100%;
    border-radius: 12px;
    border: none;
    padding-left: 6px;
    outline: none;
}
nav ul li:nth-child(3) i {
position: absolute;
font-size: 15px;
right: 12px;
color: #333;
line-height: 30px;
} 
nav ul li:nth-child(4) button{
    height: 30px;
    padding: 0 12px;
    cursor:pointer;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(70, 68,68);
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav ul li:nth-child(4) button i  {
margin-top: 6px;
}
nav ul li:nth-child(4) button:hover{
    background-color: rgb(100, 97, 97);
}
nav ul li:nth-child(5)
{
    text-align: center;
}
nav ul li:nth-child(5):hover a{
    color: #fFF200;
}
nav ul li:nth-child(6) a
{
    color: #fFF200;
}
.btn-Content{
    position: relative;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color: #fFF200;
    display: block;
    float: left;
    margin-left: 5px ;
}
.btn-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #d0c826;
   
    display: block;
    pointer-events: none;
    animation: btnani 1s linear infinite;
}
 @keyframes btnani{
    from{
        opacity: 0.4;
    }
    to{
        transform: scale(3);
        opacity: 0;
    }
 }
 nav ul li:nth-child(7):hover a {
    color: #fFF200;
 }
 nav ul li:nth-child(8):hover a
 {
    color: #fFF200;
 }
 nav ul li:nth-child(9):hover a
 {
 color: #fFF200;
 }
 /*------------------------------------------------menubar*/
 .menu-bar{
    background-color: #efe644;
    height: 40px;
    
    
 }
 .menu-bar ul{
    display: flex;
    justify-content: space-between;
 }
 
 .menu-bar ul li a{
    color: black;
    font-size: 16px;
 }
 .menu-bar ul li a i {
    margin-right: 6px;
    
 }
 .menu-bar-content > ul > li {
    padding: 12px 6px;
    transition: all 0.2s ease;
 }
 .menu-bar ul li:hover{
    background-color: white;
 }
 .menu-bar-content > ul > li:nth-child(9)
 {
    position: relative;
 }
 .menu-bar-content > ul > li:nth-child(9) ::before
 {
    position: absolute;
    content: "5% Off";
    display: block;
    height: 13px;
    width: 45px;
    background-color: #F51212;
    border-radius: 5px;
    right: 0;
    top: 3px;
    font-size: 10px;
    padding-left: 3px;
    color: white;
 }
 .menu-bar-content > ul > li:nth-child(9) ::after
 {
    position: absolute;
    content: "";
    display: block;
    background-color: #F51212;
    height: 7px;
    width: 7px;
    top: 10px;
    right: 10px;
    z-index: 2;
    transform:  rotate(45deg);
 }
 /*---------------------------------aqdresss form*/
 .adress-form
 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    display: none;
    z-index: 999;
 }
 .adress-form-content{
    width: 400px;
    height: 350px;
    background-color: white;
    border-radius: 5px;
    
    
 }
 .adress-form-content form{
    padding: 0 40px;
 }
 .adress-form-content h2{
 font-size: 14px;
 padding: 12 0px;
 border-bottom: 1px solid #ddd;
 position: relative;
 }
 .adress-form-content h2 span{
    display: block;
    position: absolute;
    height: 17px;
    padding: 0 6px;
    border: 1px solid #ddd;
    right: 15px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    line-height: 25px;
    color: #333;
    border-radius: 5px;
 }
 .adress-form-content form input,select {
    height: 45px;
    display: block;
    width: 100%;
    padding-top: 20px;
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 5px;
 }
 .adress-form-content form button{
    margin-top: 20px;
    height: 30px;
    width: 80%;
    cursor: pointer;
    background-color:  #f97E0E;
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
 }
 /*------------------------------------------------*/
.menu-bar-content ul li {
 position: relative;

}
.submenu{
    position: absolute;
    background-color: rgb(248, 246, 246);
    width: auto;
    height: auto;
    left: 0;
    top: 100%;
    padding: 12px;
    display: none;
    background-color: rgba(244, 239, 239, 0.6);
    
   
}
.submenu ul{
    display: flex;
    flex-direction: column;


}
.submenu ul li{
    padding: 6px 10px;
}

.menu-bar-content ul li:hover .submenu{
 display: block;
 z-index: 9999;
}
.submenu ul li:hover a{
    color: blue;
}
.submenu ul li:hover{
    background: none;
}
.big-banner a img {
    width: 100%;
    height: auto;
    position: relative;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
li{
    list-style: none;
}


.slaider {
    padding: 5px 0; /* Tăng khoảng cách padding */
    height: auto; /* Điều chỉnh chiều cao */
    background-color: #f2f2f2; /* Màu nền */
}

.slaider-content {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Canh giữa nội dung theo chiều dọc */
}

.slaider-content-left {
    width: 60%; /* Điều chỉnh chiều rộng */
    padding: 20px;/* Thêm khoảng cách lề */
    background-color: #fff; /* Màu nền */
    border-radius: 10px; /* Góc tròn */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Đổ bóng */
}
.slaider-content-left-top{
      position: relative;
      display: flex;
       /* Ẩn phần vượt ra ngoài khung */
       transition:all 0.3s ease ;
}
.slaider-content-left-top ul#image-list {
    list-style: none;
    display: flex;
    transition: transform 0.5s ease; /* Thêm hiệu ứng chuyển đổi */
}

.slaider-content-left-top li {
    flex: 0 0 100%;
}

.slaider-content-left-top img {
    width: 100%;
    height: auto; /* Điều chỉnh kích thước hình ảnh */
    border-radius: 10px; /* Góc tròn */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Đổ bóng */
}

.slaider-content-left-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Canh giữa nội dung theo chiều dọc */
    margin-top: 20px; /* Thêm khoảng cách từ trên xuống */
}

.slaider-content-left-bottom li {
    width: 18%; /* Điều chỉnh chiều rộng */
    text-align: center;
    cursor: pointer;
    padding: 8px 0; /* Thay đổi khoảng cách nội dung bên trong */
    position: relative;
    background-color: #fff; /* Màu nền */
    border-radius: 5px; /* Góc tròn */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Đổ bóng */
}

.slaider-content-left-bottom li::before {
    display: block;
    content: "";
    position: absolute;
    height: 70%;
    background-color: #ddd;
    right: 0;
}

.slaider-content-left-bottom li:active {
    border-top: 4px solid #FF2000;
}

.salider-content-right {
    width: 40%;
            display: grid; /* Sử dụng lưới */
            
            grid-template-columns: repeat(2, 1fr); /* 2 cột bằng nhau */
            grid-gap: 10px; /* Khoảng cách giữa các phần tử */
}

.salider-content-right li {
    height: 50%;
    width: 100%; /* Điều chỉnh chiều rộng và thêm khoảng cách */
    margin:1%; /* Thêm khoảng cách giữa các hình ảnh */
    text-align: center;
}

.salider-content-right li a {
    display: block;
    text-align: center;
    padding: 5px;
    background-color: #fff; /* Màu nền */
    border-radius: 5px; /* Góc tròn */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Đổ bóng */
}

.salider-content-right li img {
    max-width: 100%; /* Đảm bảo hình ảnh không bị tràn ra ngoài khung */
    height: auto;
}
.slaider-content-left-top-btn{
    position: absolute;
      top: 50%;
      display: flex;
      justify-content: space-between;
      width: 100%;
      
}
.slaider-content-left-top-btn i {
    color: #333;
    font-size: 32px;
    height: 50px;
    width: 25px;
    background-color: #f5f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3;
}
/*---------------------------------------*/
.slaider-content-left-top a:nth-child() img{
    position: relative;
}
.slaider-content-left-top a:nth-child(2) img{
    transform: translateY(100%);
}
.slaider-content-left-top a:nth-child(3) img{
    transform: translateY(200%);
}
.slaider-content-left-top a:nth-child(4) img{
    transform: translateY(300%);
}
.slaider-content-left-top a:nth-child(5) img{
    transform: translateY(400%);
    
}
.slaider-content-left-top-container{
    position: relative;
    overflow: hidden;
}
.slaider-content-left-top-container:hover i{
    opacity: 1;
}